
<nav   class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" [routerLink]="['/']">Home</a>
          <a class="nav-link" [routerLink]="['/Student']">Student</a>
          <a class="nav-link" [routerLink]="['/Course']">Course</a>
          <a class="nav-link" [routerLink]="['/StudentCourse']">StudentCourse</a>
          <a class="nav-link" [routerLink]="['/Housing']">Housing</a>



        </div>
      </div>
    </div>
  </nav>
  <img style=" width:4cm; height:4cm;" src="assets/Images/SUC2.png" alt="Uni logo"> <div class="container">



    


