input.ng-invalid.ng-touched{
    border: 1px solid rgb(233, 89, 89);
}
.error-message{
    color:rgb(233, 89, 89) ;
}
td{
    color: grey;
    background-color: #212429;
}
th{
     color: white;
     background-color:#212429 ;
}