

     <h2 style="font-weight: bolder;" class="row justify-content-center"> <mark style= "width: 10.5cm;background-color:#2889fc;color: white;">
        With world-class faculty,</mark>
    </h2>
     <h2></h2>
     <h2 style="font-weight: bolder;" class="row justify-content-center"><mark style= "width: 17cm;background-color:#2889fc;color: white;">groundbreaking research opportunities,</mark></h2>
     <h2></h2>
     <h2 style="font-weight: bolder;" class="row justify-content-center"><mark style= "width: 18cm;background-color:#2889fc;color: white;">and a diverse group of talented students,</mark></h2>
     <h2></h2>
     <h2 style="font-weight: bolder;" class="row justify-content-center"><mark style= "width: 15cm;background-color:#2889fc;color: white;">Spanish Univerity in Cairo is more </mark></h2>
     <h2 style="font-weight: bolder;" class="row justify-content-center"><mark style= "width: 10cm;background-color:#2889fc;color: white;"> than just a place to get </mark></h2>

     <h2 style="font-weight: bolder;" class="row justify-content-center"><mark style= "width: 6.5cm;background-color:#2889fc;color: white;">an education. </mark></h2>

<div >
     <app-carousel></app-carousel>
</div>



   


      
